export(fh_hetop, gendata_hetop, est_deref, est_deref_fhhetop, mle_hetop, waic_hetop)

importFrom("coda", "read.coda", "gelman.diag", "mcmc.list")

importFrom("splines", "bs")

importFrom("stats", "coef", "cor", "lm", "nlm", "pnorm", "qnorm", "resid", "rnorm", "runif", "sd", "var", "weighted.mean")

importFrom("eivtools", "triple_goal")
